extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 Trending Anime

  input#query(name='query')
  button(onclick='search()' type='submit' class='btn btn-large') search

  div#shows
