extends layout

block content

  div.container
    h1= title
    p Welcome to #{title} -- search an anime to learn more!

  div.container
    input#query(name='query')
    button(onclick='search()' type='submit' class='btn btn-large') search

    div#shows
