body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#cover
{
    width: 100%;
    border-radius: 3px;
}

#poster
{
    text-align: right;
}

hr
{
    border: none;
    height: 2px;
    color: black;
    background-color: black;
}

#stats
{
    text-align: right;
    margin-top: 2.8em;
}

#comment-field
{
    display: flex;
    align-items: center;
}

#comment-field button
{
    margin-left: 10px;
}

input#comment
{
    width: 75%;
}

#comment-btn
{
    margin-bottom: 50px;
}
